html,
body {
    margin: 0;
    padding: 0;
    background: #FFF;
    height: 100%;
    width: 100%;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFF;
}

/* CHANGEATHON START  */

.background-container {
    width: 100%;
    user-select: none;
    position: relative;
    background-size: cover;
    height: 125vw; 
    /* background: linear-gradient(360deg, #FFC7BD 69.86%, rgba(255, 199, 189, 0) 106.09%); */
}

.freetail-logo{
    position: absolute;
    left: 2vw;
    top: 2vw;
    z-index: 2;
    width: 5.5vw;
    z-index: 4;
}
@media only screen and (max-width: 670px) {
    .freetail-logo {
        left: 2vw;
        width: 11vw;
      } }
.acm-logo{
position: absolute;
left: 9vw;
top: 2vw;
z-index: 2;
width: 5.5vw;
z-index: 4;
}
@media only screen and (max-width: 670px) {
    .acm-logo {
        left: 14vw;
        width: 11vw;
        top: 2vw;
        } }

#title {
    position: absolute;
    width: 56vw;
    height: 16vw;
    left: 22.2%;
    top: 0%;
    z-index: 4;
}
@media only screen and (max-width: 670px) {
    #title {
      width: 80vw;
      height: 23vw;
      left: 10%;
      top: 5%;
    }}
#date {
    position: absolute;
    width: 18vw;
    left: 41.4%;
    top: 12.6%;
    z-index: 4;
}
@media only screen and (max-width: 670px) {
    #date {
      left: 39%;
      top: 23%;
      width: 26vw;
    }}

#registerbutton {
    position: absolute;
    width: 18vw;
    height: 3.25vw;
    left: 30%;
    top: 19%;
    background-image: url("../assets/png/registerButton.png");
    background-size: cover;
    z-index: 4; }
    #registerbutton:hover {
      background-image: url("../assets/png/registerButtonHover.png");
      cursor: pointer; }
      @media only screen and (max-width: 670px) {
        #registerbutton {
          width: 50vw;
          height: 9vw;
          left: 25%;
          top: 30%;
        }}
  
#mentorbutton {
    position: absolute;
    width: 18vw;
    height: 3.25vw;
    left: 51%;
    top: 19%;
    background-image: url("../assets/png/mentorButton.png");
    background-size: cover;
    z-index: 4; 
}
    #mentorbutton:hover {
      background-image: url("../assets/png/mentorButtonHover.png");
      cursor: pointer; 
    }
    @media only screen and (max-width: 670px) {
        #mentorbutton {
          width: 50vw;
          height: 9vw;
          left: 25%;
          top: 40%;
        }}

.background-image {
    width: 100%;
}

#star1 {
    position: absolute;
    z-index: 0;
    top: 33%;
    left: 5%;
    width: 4vw;
}
#star2 {
    position: absolute;
    z-index: 0;
    top: 15%;
    left: 15%;
    width: 4vw;
}
#star3 {
    position: absolute;
    z-index: 0;
    top: 20%;
    left: 37%;
    width: 4vw;
}
#star4 {
    position: absolute;
    z-index: 0;
    top: 22%;
    left: 54%;
    width: 4vw;
}
#star5 {
    position: absolute;
    z-index: 0;
    top: 32%;
    left: 65%;
    width: 4vw;
}
#star6 {
    position: absolute;
    z-index: 0;
    top: 15%;
    left: 75%;
    width: 4vw;
}
#star7 {
    position: absolute;
    z-index: 0;
    top: 18%;
    left: 90%;
    width: 4vw;
}

.clouds1 {
    position: absolute;
    top: 31vw;
    width: 100%;
}
.clouds2 {
    position: absolute;
    top: 26vw;
    width: 100%;
}

#a1 {
    position: absolute;
    left: 70%;
    top: -5%;
    width: 28vw;
    z-index: 2;
}
@media only screen and (max-width: 670px) {
    #a1 {
        position: absolute;
        left: 65%;
        top: 0%;
        width: 35vw;
        z-index: 2;
    }}

#a2 {
    position: absolute;
    left: -3%;
    top: 3%;
    width: 26vw;
    z-index: 1;
}
@media only screen and (max-width: 670px) {
    #a2 {
        display: none;
    }}

#a5 {
    position: absolute;
    left: 20%;
    top: 22%;
    width: 20vw;
    z-index: 3;
}
@media only screen and (max-width: 670px) {
    #a5 {
        position: absolute;
        left: 2%;
        top: 20%;
        width: 20vw;
        z-index: 4;
    }}

.mountains {
    position: absolute;
    width: 100%;
    top: 0vw;
}

.m1 {
    position: absolute;
    top: 45vw;
}
.m2 {
    position: absolute;
    top: 50vw;
}
.m3 {
    position: absolute;
    top:104vw
}
.m4 {
    position: absolute;
    top:210vw
}
.m2-flip {
    position: absolute;
    top: 170vw;
}
.m5 {
    position: absolute;
    top: 255vw;
    width: 100%;
    height: 120vw;
}

.m6 {
    position: absolute;
    top:360vw;
}

@media only screen and (max-width: 670px) {
    .m2 {
        top:48vw;
    }
    .m3 {
        top:80vw
    }
    .m4 {
        top: 135vw
    }
    .m5 {
        top: 170vw;
        height: 250vw;
    }
    .m6 {
        top: 390vw;
    }
}

.heading {
    font-family: Montserrat;
    color: #ffc8be;
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: 1%;
}
@media only screen and (max-width: 670px) {
    .heading {
    font-size: 3.5vw;
    text-align: center;} }

.parent-center {
    display: flex;
    justify-content: center;
}
    
.heading-inverse {
    font-family: Montserrat;
    color: #1c2b48;
    font-weight: bold;
    font-size: 3vw;
    margin-bottom: 1%;
}
@media only screen and (max-width: 670px) {
    .heading-inverse {
    font-size: 3.5vw;
    text-align: center;} }

.normal-text {
    font-family: Montserrat;
    color: #fff;
    width: 100%;
}

@media only screen and (max-width: 670px) {
    .normal-text {
      width: 100%;
      margin: auto;
        z-index: 10;} }

.normal-text-inverse {
    font-family: Montserrat;
    color: #000;
    width: 100%;
}

@media only screen and (max-width: 670px) {
    .normal-text-inverse {
        width: 100%;
        margin: auto;
        z-index: 10;} }

.links{
    color: #bec5e3;;
}

.links-inverse{
    color: #495f7a;;
}

.two-column{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  @media only screen and (max-width: 670px) {
      .two-column {
        display: block;
        justify-content: center;
        height: auto;
        margin-bottom: 5%;} }
  
  .left-column{
    margin-left: 2%;
    margin-right: 2%;
    max-width: 40%;
    justify-content: center;
    display: inline;
    line-height: 1.25;
  }
  @media only screen and (max-width: 670px) {
      .left-column {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        margin: auto;
        margin-bottom: 8%;
        max-width: 60%;} }
  
  .right-column{
      margin-left: 2%;
      margin-right: 2%;
      max-width: 40%;
      justify-content: center;
      display: inline;
      line-height: 1.25;
    }
    @media only screen and (max-width: 670px) {
      .right-column {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        max-width: 60%;
        margin: auto;} }
    /* Keeps column structure on mobile VVV */
    .left-column-mobile{
        margin-left: 2%;
        margin-right: 2%;
        max-width: 40%;
        justify-content: center;
        display: inline;
        line-height: 1.25;
        }
        @media only screen and (max-width: 670px) {
            .left-column-mobile {
            justify-content: center;
            margin: auto;
            margin-bottom: 8%;} }
    .right-column-mobile{
        margin-left: 2%;
        margin-right: 2%;
        max-width: 40%;
        justify-content: center;
        display: inline;
        line-height: 1.25;
        }
        @media only screen and (max-width: 670px) {
        .right-column-mobile { 
            justify-content: center;
            margin: auto;} }

.flipped {
    transform: scaleX(-1);
    }

#text1{
    position: absolute;
    width: 88vw;
    top: 55%;
    margin: 1vw 5vw;
    line-height: 1.5;
    font-size: 1.2vw;
    z-index: 3;
    overflow-wrap: normal;
}
@media only screen and (max-width: 670px) {
    #text1 {
      top: 52%;
      z-index: 5;} }

#text2{
    position: absolute;
    width: 46vw;
    left: 4vw;
    top: 102%;
    line-height: 1.5;
    font-size: 1.25vw;
    z-index: 4;
    overflow-wrap: normal;
}
@media only screen and (max-width: 670px) {
    #text2 {
    top: 82%;
      z-index: 5;} }

#text3{
    position: absolute;
    width: 40vw;
    left: 55vw;
    top: 102%;
    line-height: 1.5;
    font-size: 1.25vw;
    z-index: 4;
    overflow-wrap: normal;
}
@media only screen and (max-width: 670px) {
    #text3 {
    top: 82%;
      z-index: 5;} }

#text4{
    position: absolute;
    width: 46vw;
    left: 4vw;
    top: 175%;
    line-height: 1.5;
    font-size: 1.25vw;
    z-index: 5;
    overflow-wrap: normal;
}
@media only screen and (max-width: 670px) {
    #text4 {
    top: 115%;
      z-index: 5;} }

#text5{
    position: absolute;
    width: 100%;
    top: 152%;
    line-height: 1.5;
    font-size: 1.25vw;
    z-index: 6;
    overflow-wrap: normal;
}
@media only screen and (max-width: 670px) {
    #text5 {
    top: 145%;} }


#text6{
    position: absolute;
    width: 100%;
    top: 297%;
    line-height: 1.5;
    font-size: 1.25vw;
    z-index: 8;
}
@media only screen and (max-width: 670px) {
    #text6 {
    width: 90%;
    top: 315%;
    margin-left: 5%;
    margin-right: 5%;} }

.question{
    /* color: #F8A68C; */
    color: #ffc8be;
    font-weight: bold;
}

#schedule .pill-button {
	color: #fffaf1;
	margin: 20px auto;
	text-align: center;
	font-family: Montserrat
}

#schedule .schedule-slide {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 262vw;
}
@media (max-width:576px) {
	#schedule .schedule-slide {
		top: 180vw;
	}
}

#schedule .pill-button .pill-button-option {
	background-color: #1c2b48;
	opacity: .9;
	display: inline-block;
	font-size: 2vw;
	padding: 5px 15px;
	cursor: pointer;
	-webkit-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out
}

@media (max-width:576px) {
	#schedule .pill-button .pill-button-option {
		font-size: 4vw
	}
}

#schedule .pill-button .pill-button-option.active,
#schedule .pill-button .pill-button-option:hover {
	background-color: #ffc8be;
	opacity: 1
}

#schedule .pill-button #hackathon-button {
	padding-left: 20px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px
}

#schedule .pill-button #judging-button {
	padding-right: 20px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px
}

#schedule .schedule-container {
	color: #fffaf1;
	margin: 2vw auto;
	text-align: center;
	font-family: Montserrat;
	font-size: 2vw
}

@media (max-width:576px) {
	#schedule .schedule-container {
		font-size: 3vw
	}
}

#schedule .schedule-container .schedule-grid {
	width: 70%;
	margin: auto;
	display: grid;
	grid-template-columns: 3fr 5fr 7fr;
	text-align: left
}

@media (max-width:576px) {
	#schedule .schedule-container .schedule-grid {
		width: 80%
	}
}

#schedule .schedule-container .schedule-grid .schedule-header {
	color: #1c2b48;
	border-bottom: 2px solid #1c2b48;
	margin-bottom: 1.4vw;
	padding: .5vw
}

#schedule .schedule-container .schedule-grid .schedule-label,
#schedule .schedule-container .schedule-grid .schedule-time,
#schedule .schedule-container .schedule-grid .blurb {
	padding: 10px;
    font-size: 1.3vw;
    color: black;
}


#schedule .schedule-container .schedule-grid .schedule-day-label {
	max-height: 0
}

/* CHANGEATHON END  */